body, html {
	height: 100%;
	margin: 0 auto;
	background-color: #f0f8ff;
}

body { 
	font-size: 18px;
}

a {
	text-decoration: none;
}

.container {
	width: 80%;
	margin: 0 auto;
	padding: 1.3em;
	display: grid;
	grid-template-columns: 30% auto;

}
.container a {
	color: white;
}

section {
	width: 80%;
	margin: 0 auto;
	padding: 2em;
}
h6{
	font-family:Arial;
	text-align:center;
	font-size:40px;
}
img{
	display:block;
	margin-left:auto;
	margin-right:auto;
	border: 3mm ridge grey;
}
h3{
	font-family:Times New Roman;
	text-align:center;
	font-size:30px;
}