html{
	display: table;
	margin: auto;
}

body{
	display: table-cell;
	vertical-align:middle;
}

h1 {
	font-weight: bold;
	font-family: Arial;
	font-size:40px;
}
h3{
	font-size: 35px;
}
h4{
	font-size: 30px;
}
ul li{
	font-size: 25px;
}