<html>
  <body>
    <h1>
      Welcome to Team 8's NASA web app
    </h1>
    
    <h3>
      We built this app with Angular, and are using three NASA web apis:
    </h3>
    
    <ul>
      <li><h4>The NASA Mars Rover Photos API</h4>
        <ul>
          <li>Collects image data from NASA's Curiosity, Opportunity and Spirit rovers on Mars</li>
        </ul>
      </li>
      <li><h4>The NASA Near Earth Orbit Web Service</h4>
        <ul>
          <li>
            Used for the retrieval of near earth asteroid information
          </li>
        </ul>
      </li>
      <li><h4>The Astronomy Picture of the Day API</h4>
        <ul>
          <li>NASA's most popular API</li>
        </ul>
      </li>
    </ul>
  </body>
</html>

